@import 'nullstyles.css';

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", serif;

    .head {
        background-image: url(./img/autumn.jpg);
        height: 318.5px;
        background-size: cover;
        background-position: center;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 0 50px 0px;

        h1 {
            font-weight: 500;
            font-style: normal;
            font-size: 2.5em;
            color: #EB6E4B;
            text-shadow: 2px 2px 2px black;
        }
    }

    .search {
        display: flex;
        justify-content: center;

        button {
            padding: 15px;
            border-radius: 0 10px 10px 0;
            background-color: rgb(40, 39, 39);
            color: white;
        }

        input {
            border: 0 10px solid black;
            padding: 15px;
            border-radius: 10px;
            margin-right: 0px;
        }
    }

    main {
        flex: 1;
        height: 900px;
        width: 662px;
    }
}