*{
    margin: 0;
}
h1{
    color: #e24212;
    position: relative;
    top: 50%;
    right: 200;
}
.head{
    background-image: url(./img/autumn.jpg);
    height: 200px;
    margin-bottom: 50px;
}
body{
    flex-direction:column;
}
main{
    text-align: center;
    justify-content: center;
}
.footer{
    background-color: #48484a;
    text-align: center;
    padding: 20px;
    width: 100%;
}

footer span{

}